public/flow/MQTT_SAVE.json
[{"id":"db28ae4c.99474","type":"mqtt in","z":"1378866d.285bfa","name":"MQTT_200000206","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"7619f2e3.5eebfc","x":147.93331909179688,"y":56.93333053588867,"wires":[["feed72ad.a5b9f","1b8f60f3.94f40f"]]},{"id":"e8fd204.fdd70e","type":"function","z":"1378866d.285bfa","name":"tempature","func":"\nmsg= {payload:msg.payload.temperature};\n\nreturn msg;","outputs":"1","noerr":0,"x":556.3976020812988,"y":336.04052686691284,"wires":[["720e9dbf.e77b44","5d16bd92.c4c034"]]},{"id":"9eec8cfc.7bd71","type":"function","z":"1378866d.285bfa","name":"humidity","func":"\nmsg= {payload:msg.payload.humidity};\n\nreturn msg;","outputs":"1","noerr":0,"x":556.2547454833984,"y":405.32626008987427,"wires":[["e3fbb41d.bd89b8","40a9b6fb.88f6a8"]]},{"id":"feed72ad.a5b9f","type":"debug","z":"1378866d.285bfa","name":"","active":false,"console":"false","complete":"payload","x":357.93333435058594,"y":55.93333053588867,"wires":[]},{"id":"21126078.007cb","type":"function","z":"1378866d.285bfa","name":"pressure","func":"\nmsg= {payload:msg.payload.pressure};\n\nreturn msg;","outputs":"1","noerr":0,"x":551.4546966552734,"y":236.7547812461853,"wires":[["1935aa98.ae8425","d720889b.4c12c8"]]},{"id":"a48cc901.1d0d98","type":"function","z":"1378866d.285bfa","name":"light","func":"\nmsg= {payload:msg.payload.light};\n\nreturn msg;","outputs":"1","noerr":0,"x":545.5974922180176,"y":281.0405230522156,"wires":[["2ee88914.c1d026","2637ce1e.3721c2"]]},{"id":"3c9c7e7e.07eda2","type":"function","z":"1378866d.285bfa","name":"rain","func":"\nmsg= {payload:(1023-msg.payload.rain)};\n\nreturn msg;","outputs":"1","noerr":0,"x":550.1476593017578,"y":550.790554523468,"wires":[["7028596f.811268","f6513148.2e70e"]]},{"id":"4cabd787.40d738","type":"function","z":"1378866d.285bfa","name":"uv","func":"\nmsg= {payload:msg.payload.uv};\n\nreturn msg;","outputs":"1","noerr":0,"x":551.4333305358887,"y":481.5048317909241,"wires":[["a7fdda5.f6ef528","1063fb99.ce8fb4"]]},{"id":"720e9dbf.e77b44","type":"ui_gauge","z":"1378866d.285bfa","name":"溫度表","group":"ee84c6a1.315e88","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"度","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":719.7548599243164,"y":322.43335008621216,"wires":[]},{"id":"5d16bd92.c4c034","type":"ui_chart","z":"1378866d.285bfa","name":"溫度線性圖","group":"e10dceae.74ee","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":740.0406608581543,"y":358.5762505531311,"wires":[[],[]]},{"id":"1935aa98.ae8425","type":"ui_chart","z":"1378866d.285bfa","name":"線性圖","group":"541daec2.61b0a","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"950","ymax":"1100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":717.8341255187988,"y":211.24244356155396,"wires":[[],[]]},{"id":"2ee88914.c1d026","type":"ui_gauge","z":"1378866d.285bfa","name":"照明表","group":"e2dcb2df.1866","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":716.9769859313965,"y":250.09966325759888,"wires":[]},{"id":"2637ce1e.3721c2","type":"ui_chart","z":"1378866d.285bfa","name":"照明線性圖","group":"60697de6.d3b1a4","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":737.5486488342285,"y":283.6711277961731,"wires":[[],[]]},{"id":"e3fbb41d.bd89b8","type":"ui_gauge","z":"1378866d.285bfa","name":"濕度表","group":"29fd174.2ecdbe8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720.6120462417603,"y":417.4333577156067,"wires":[]},{"id":"40a9b6fb.88f6a8","type":"ui_chart","z":"1378866d.285bfa","name":"濕度線性圖","group":"c2097e3e.e94a9","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":741.1834831237793,"y":452.433376789093,"wires":[[],[]]},{"id":"a7fdda5.f6ef528","type":"ui_gauge","z":"1378866d.285bfa","name":"UV表","group":"a0c8a9bf.8faaf8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"x":720.6982803344727,"y":487.11590814590454,"wires":[]},{"id":"1063fb99.ce8fb4","type":"ui_chart","z":"1378866d.285bfa","name":"UV線性圖","group":"2e6e55e5.a6f78a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":729.5555267333984,"y":521.830201625824,"wires":[[],[]]},{"id":"7028596f.811268","type":"ui_gauge","z":"1378866d.285bfa","name":"雨滴表","group":"fdd3d52d.2708c8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720.1270599365234,"y":556.4015431404114,"wires":[]},{"id":"f6513148.2e70e","type":"ui_chart","z":"1378866d.285bfa","name":"雨滴線性圖","group":"e8a7ae3a.cb937","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":737.8411712646484,"y":591.4016556739807,"wires":[[],[]]},{"id":"1b8f60f3.94f40f","type":"function","z":"1378866d.285bfa","name":"parse data","func":"var msgTools = context.global.msgTools;\nvar parseData = msgTools.parseMsg(msg.payload) ;\n\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":149.23336791992188,"y":121.20000076293945,"wires":[["d5a11b8.34d24e8"]]},{"id":"d5a11b8.34d24e8","type":"switch","z":"1378866d.285bfa","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"cont","v":"aa00","vt":"str"},{"t":"cont","v":"aa01","vt":"str"},{"t":"cont","v":"aa02","vt":"str"}],"checkall":"true","outputs":3,"x":125.50000762939453,"y":258.73329162597656,"wires":[[],["b963fe34.59c35"],[]]},{"id":"b963fe34.59c35","type":"function","z":"1378866d.285bfa","name":"氣象裝置01信息","func":"node.warn('msg.payload.information:'+JSON.stringify( msg.payload.information) );\nmsg.payload = msg.payload.information;\nreturn msg;","outputs":1,"noerr":0,"x":336.6168975830078,"y":400.6166968345642,"wires":[["21126078.007cb","a48cc901.1d0d98","e8fd204.fdd70e","9eec8cfc.7bd71","4cabd787.40d738","3c9c7e7e.07eda2"]]},{"id":"d720889b.4c12c8","type":"ui_gauge","z":"1378866d.285bfa","name":"壓力表","group":"4dde77cb.0ce018","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":714.6833648681641,"y":167.68337774276733,"wires":[]},{"id":"7619f2e3.5eebfc","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service41","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ee84c6a1.315e88","type":"ui_group","z":"","name":"溫度","tab":"14443d63.f5a1a3","order":1,"disp":true,"width":"6"},{"id":"e10dceae.74ee","type":"ui_group","z":"","name":"溫度","tab":"c56309fc.35ddd8","order":1,"disp":true,"width":"6"},{"id":"541daec2.61b0a","type":"ui_group","z":"","name":"壓力","tab":"c56309fc.35ddd8","order":4,"disp":true,"width":"6"},{"id":"e2dcb2df.1866","type":"ui_group","z":"","name":"照明","tab":"14443d63.f5a1a3","order":6,"disp":true,"width":"6"},{"id":"60697de6.d3b1a4","type":"ui_group","z":"","name":"照明","tab":"c56309fc.35ddd8","order":6,"disp":true,"width":"6"},{"id":"29fd174.2ecdbe8","type":"ui_group","z":"","name":"溼度","tab":"14443d63.f5a1a3","order":2,"disp":true,"width":"6"},{"id":"c2097e3e.e94a9","type":"ui_group","z":"","name":"濕度","tab":"c56309fc.35ddd8","order":2,"disp":true,"width":"6"},{"id":"a0c8a9bf.8faaf8","type":"ui_group","z":"","name":"UV","tab":"14443d63.f5a1a3","order":3,"disp":true,"width":"6"},{"id":"2e6e55e5.a6f78a","type":"ui_group","z":"","name":"UV","tab":"c56309fc.35ddd8","order":3,"disp":true,"width":"6"},{"id":"fdd3d52d.2708c8","type":"ui_group","z":"","name":"雨滴","tab":"14443d63.f5a1a3","order":5,"disp":true,"width":"6"},{"id":"e8a7ae3a.cb937","type":"ui_group","z":"","name":"雨滴","tab":"c56309fc.35ddd8","order":5,"disp":true,"width":"6"},{"id":"4dde77cb.0ce018","type":"ui_group","z":"","name":"壓力","tab":"14443d63.f5a1a3","order":4,"disp":true,"width":"6"},{"id":"14443d63.f5a1a3","type":"ui_tab","z":"","name":"微型氣象","icon":"dashboard","order":1},{"id":"c56309fc.35ddd8","type":"ui_tab","z":"","name":"微型氣象圖表","icon":"dashboard","order":2}]